.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
  }
  
  .grid-container > div {
    background-image: url("chaussure.jpg");
    color: red;
    text-align: center;
    padding: 180px;
    font-size: 30px;
  }
